In [1]:
#  引入数据库数据
import duckdb
dbPath = "../data01"  # 数据地址jupytert数据跨级
c = duckdb.connect(dbPath, read_only=False)
l = c.cursor()

In [4]:
l.sql("show tables").df()

          name
0  listing_his
1    order_his
2      product

In [5]:
df = l.sql("from listing_his where account_id = 83").df()
df.to_excel("res.xlsx",index=False)

In [2]:
l.sql("select * from listing_his").show()

┌────────────┬──────────────────────────────┬───────────────┬─────────────────────┐
│ account_id │          seller_sku          │      sku      │      open_date      │
│   int32    │           varchar            │    varchar    │      timestamp      │
├────────────┼──────────────────────────────┼───────────────┼─────────────────────┤
│         81 │ zjch_dxc1412230120711_34cbd  │ 1412230120711 │ 2023-08-21 11:46:01 │
│         81 │ zjch_dxc1412230137411_6edf1  │ 1412230137411 │ 2023-08-21 11:46:01 │
│         81 │ zjch_qjq1411230266611_06958  │ 1411230266611 │ 2023-08-21 19:28:06 │
│         81 │ zjch_qjq1411230267511_c05e0  │ 1411230267511 │ 2023-08-21 19:28:06 │
│         81 │ zjch_qjq1411230286011_2bedb  │ 1411230286011 │ 2023-08-21 19:28:06 │
│         81 │ zjch_qjq14142300356_5111b-11 │ 1414230035611 │ 2023-08-21 19:26:59 │
│         81 │ zjch_qjq14142300356_5111b-12 │ 1414230035612 │ 2023-08-21 19:26:59 │
│         81 │ zjch_qjq14142300356_5111b-13 │ 1414230035613 │ 2023-08-21 19:26:59 │
│         81 │ zjch_qjq14142300357_4d311-12 │ 1414230035712 │ 2023-08-21 19:26:59 │
│         81 │ zjch_qjq14142300358_b5846-12 │ 1414230035812 │ 2023-08-21 19:26:59 │
│          · │              ·               │       ·       │          ·          │
│          · │              ·               │       ·       │          ·          │
│          · │              ·               │       ·       │          ·          │
│         21 │ zjch-LXY1410220064111-b6e39  │ 1410220064111 │ 2022-08-16 00:15:55 │
│         21 │ zjch-LXY1410220068411-42bb0  │ 1410220068411 │ 2022-08-15 16:59:05 │
│         21 │ zjch-LXY1410220078711-2730b  │ 1410220078711 │ 2022-08-02 04:35:28 │
│         21 │ zjch-LXY1411200519811-7004a  │ 1411200519811 │ 2022-09-16 11:10:46 │
│         21 │ zjch-LXY1411220223511-690a2  │ 1411220223511 │ 2022-08-16 00:15:55 │
│         21 │ zjch-LXY14112202284-dc6b6-11 │ 1411220228411 │ 2022-08-15 16:59:05 │
│         21 │ zjch-LXY14112202284-dc6b6-12 │ 1411220228412 │ 2022-08-15 16:59:05 │
│         21 │ zjch-LXY14112202365-a62f2-12 │ 1411220236512 │ 2022-08-16 00:15:55 │
│         21 │ zjch-LXY14122200403-2865b-11 │ 1412220040311 │ 2022-08-08 21:35:48 │
│         21 │ zjch-LXY14122200403-2865b-12 │ 1412220040312 │ 2022-08-08 21:35:48 │
├────────────┴──────────────────────────────┴───────────────┴─────────────────────┤
│ ? rows (>9999 rows, 20 shown)                                         4 columns │
└─────────────────────────────────────────────────────────────────────────────────┘

In [3]:
l.sql("from order_his").show()

┌────────────────┬────────────┬──────────────────────┬───────────────┬───┬──────────┬──────────┬─────────────┐
│    order_id    │ account_id │      seller_sku      │      sku      │ … │ paymonth │ currency │ total_price │
│    varchar     │   int32    │       varchar        │    varchar    │   │ varchar  │ varchar  │   double    │
├────────────────┼────────────┼──────────────────────┼───────────────┼───┼──────────┼──────────┼─────────────┤
│ AM220803514185 │        211 │ xuuy-WJJM22739-59c63 │ JM22739       │ … │ 202208   │ CAD      │       35.66 │
│ AM220803506579 │         54 │ AAC-LYT-TJ03744-TY…  │ TJ03744-02    │ … │ 202208   │ CAD      │       15.73 │
│ AM220803537712 │       1248 │ WT-Rote-14837-1412…  │ 1412210132411 │ … │ 202208   │ USD      │       11.17 │
│ AM220803543092 │       1248 │ WT-Rote-14837-1412…  │ 1412210132411 │ … │ 202208   │ USD      │       11.17 │
│ AM220803534972 │       1719 │ 1cdSJ01237-ZLM-Wan…  │ SJ01237-01    │ … │ 202208   │ USD      │        9.92 │
│ AM220804527181 │       1903 │ 31112000036-LJM79d…  │ 3111200003612 │ … │ 202208   │ MXN      │      8955.0 │
│ AM220804501098 │        249 │ Mxte2716200184611T…  │ 2716200184611 │ … │ 202208   │ CAD      │       30.98 │
│ AM220804538182 │         46 │ qiil-DZZ-161920007…  │ 1619200074911 │ … │ 202208   │ CAD      │       39.11 │
│ AM220804560280 │         46 │ qiil-DZZ-161920007…  │ 1619200074911 │ … │ 202208   │ CAD      │       39.11 │
│ AM220804510095 │         96 │ nine-11102100699-5…  │ 1110210069913 │ … │ 202208   │ GBP      │       181.2 │
│       ·        │          · │          ·           │       ·       │ · │   ·      │  ·       │         ·   │
│       ·        │          · │          ·           │       ·       │ · │   ·      │  ·       │         ·   │
│       ·        │          · │          ·           │       ·       │ · │   ·      │  ·       │         ·   │
│ AM221219555392 │       1444 │ JLU-FBM-1618200140…  │ 1618200140711 │ … │ 202212   │ USD      │      165.12 │
│ AM221219564056 │       1444 │ LCMJIUL-1610210016…  │ 1610210016611 │ … │ 202212   │ USD      │       11.18 │
│ AM221219592929 │       1444 │ KQJIUL-16132000302…  │ 1613200030211 │ … │ 202212   │ USD      │        8.13 │
│ AM221219551877 │       1445 │ PHWJIUL-QC11033-d8…  │ QC11033       │ … │ 202212   │ CAD      │       19.37 │
│ AM221219534795 │       1104 │ DIJ-1011200226611-…  │ 1011200226611 │ … │ 202212   │ JPY      │      2570.0 │
│ AM221219538522 │       1104 │ ZXD-22525-dootDS04…  │ DS04452       │ … │ 202212   │ JPY      │       745.0 │
│ AM221219541711 │       1104 │ 3112210089411_zxd_…  │ 3112210089411 │ … │ 202212   │ JPY      │      2093.0 │
│ AM221219542588 │       1104 │ DIJ-GY10314-FBA      │ GY10314       │ … │ 202212   │ JPY      │      5209.0 │
│ AM221219542598 │       1104 │ LH-GWFDC-JP-JY1518…  │ JY15183       │ … │ 202212   │ JPY      │      5947.0 │
│ AM221219547582 │       1104 │ DIJ-DS04340-FBA      │ DS04340       │ … │ 202212   │ JPY      │       855.0 │
├────────────────┴────────────┴──────────────────────┴───────────────┴───┴──────────┴──────────┴─────────────┤
│ ? rows (>9999 rows, 20 shown)                                                          8 columns (7 shown) │
└────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
l.sql("select distinct line1 from product").df()['line1']

0             健康美容
1             消费电子
2             家居园艺
3             仪器仪表
4             影视摄影
5             乐器用品
6             工业用品
7             户外用品
8             宠物用品
9             服装服饰
10            智能安防
11            包装材料
12    家居（kevin组专用）
13            手机周边
14            工艺收藏
15            手表首饰
16
17            汽摩用品
18            电子用品
19            母婴用品
20            电脑用品
Name: line1, dtype: object

In [7]:
# 数据运算
from tools.config import *
engine25 = create_engine(loc_con)

 # 根据产品线数据分布计算
for i in ['健康美容','消费电子','家居园艺','仪器仪表','影视摄影','乐器用品','工业用品','户外用品','宠物用品','服装服饰','智能安防','手机周边','工艺收藏','汽摩用品','电子用品','母婴用品','电脑用品']:
# for i in ['健康美容']:

  sql_m1 = f"""
  with
  l1 as (select sku from product where line1 ='{i}'),
  listing1 as (select * from listing_his where sku in (select sku from l1)),
  order1 as (select * from order_his where account_id ||seller_sku in (select account_id || seller_sku from listing1)),
  res_listing as (
      select 
      '{i}' as line,
      a.account_id,
      a.open_date,
      a.sku, 
      a.seller_sku, 
      b.payment_time,
      b.total_price,
      b.currency,
      c.rate,
      date_diff('day', a.open_date ,b.payment_time) as order_day,
      from listing1 a 
      left join order1 b
      on a.account_id = b.account_id and a.seller_sku = b.seller_sku
      left join currency c
      on c.currency = b.currency and b.paymonth = c.paymonth
  ),
  -- 出单数据分类
  order_lsiting as (
  select  
  '{i}' as line,
  count(account_id || seller_sku) as order_listing_num,
  count(distinct sku) as order_sku_num,
  sum( round((total_price * rate ), 2)) as sale_rmb,
  CASE
      WHEN order_day < 30 THEN '<30'
      WHEN order_day <= 60 THEN '30~60'
      WHEN order_day <= 90 THEN '60~90'
      WHEN order_day <= 120 THEN '90~120'
      WHEN order_day <= 150 THEN '120~150'
      WHEN order_day <= 180 THEN '150~180'
      WHEN order_day <= 210 THEN '180~210'
      WHEN order_day <= 240 THEN '210~240'
      WHEN order_day <= 270 THEN '240~270'
      WHEN order_day <= 300 THEN '270~300'
      WHEN order_day <= 330 THEN '300~330'
      WHEN order_day <= 360 THEN '330~360'
      ELSE '360+'
  END AS order_day_mark
  from res_listing where order_day is not null 
  group by order_day_mark, line
  ),
  --原始的数据
  p1 as (
    pivot res_listing USING count(account_id || seller_sku) as listing_num,count(distinct sku) as sku_num group by line
  )
  select * from order_lsiting a
  left join p1 b on a.line = b.line
  """
  # l.sql(sql_m1).show()

  # 产品线数量动销测算
  #   select * from order_lsiting a
  # left join p1 b on a.line = b.line

  df = l.sql(sql_m1).df()
  df['line1'] = i
  print(df)
  df.to_sql("res_rate_his_with_salermb",engine25, index=False, if_exists='append')

    line  order_listing_num  order_sku_num    sale_rmb order_day_mark line_2  \
0   健康美容              64710          14215  8272023.98          30~60   健康美容
1   健康美容              10332           3195  1362108.59           360+   健康美容
2   健康美容              14231           4518  1794602.72        270~300   健康美容
3   健康美容              32069           8002  4082806.91        180~210   健康美容
4   健康美容              23361           6519  2985959.08        210~240   健康美容
5   健康美容              61118          13608  7669999.56            <30   健康美容
6   健康美容              11109           3833  1407473.59        300~330   健康美容
7   健康美容              43841          10081  5668517.82        120~150   健康美容
8   健康美容              17678           5445  2237782.36        240~270   健康美容
9   健康美容              55793          11895  7053646.40          60~90   健康美容
10  健康美容               8583           3079  1114343.35        330~360   健康美容
11  健康美容              49929          10875  6373350.68         90~120   健康美容
12  健康美容              37658           9177  4700281.82        150~180   健康美容

    listing_num  sku_num line1
0      10502112    73811  健康美容
1      10502112    73811  健康美容
2      10502112    73811  健康美容
3      10502112    73811  健康美容
4      10502112    73811  健康美容
5      10502112    73811  健康美容
6      10502112    73811  健康美容
7      10502112    73811  健康美容
8      10502112    73811  健康美容
9      10502112    73811  健康美容
10     10502112    73811  健康美容
11     10502112    73811  健康美容
12     10502112    73811  健康美容
Empty DataFrame
Columns: [line, order_listing_num, order_sku_num, sale_rmb, order_day_mark, line_2, listing_num, sku_num, line1]
Index: []
    line  order_listing_num  order_sku_num     sale_rmb order_day_mark line_2  \
0   家居园艺              11055           4886   1937301.64        270~300   家居园艺
1   家居园艺              55666          18511  10850735.13            <30   家居园艺
2   家居园艺               9479           4076   1702407.37        300~330   家居园艺
3   家居园艺              35607          12571   6395529.74        120~150   家居园艺
4   家居园艺              13087           5750   2400409.92        240~270   家居园艺
5   家居园艺              41353          13793   7751592.17         90~120   家居园艺
6   家居园艺              29078          10752   5121622.41        150~180   家居园艺
7   家居园艺              53473          15918  10805589.23          60~90   家居园艺
8   家居园艺               7532           3380   1312890.18        330~360   家居园艺
9   家居园艺              17677           7554   3360711.16        210~240   家居园艺
10  家居园艺              23720           9357   4039045.80        180~210   家居园艺
11  家居园艺              69575          19819  13887363.56          30~60   家居园艺
12  家居园艺               7660           3356   1259205.65           360+   家居园艺

    listing_num  sku_num line1
0      25261484   119492  家居园艺
1      25261484   119492  家居园艺
2      25261484   119492  家居园艺
3      25261484   119492  家居园艺
4      25261484   119492  家居园艺
5      25261484   119492  家居园艺
6      25261484   119492  家居园艺
7      25261484   119492  家居园艺
8      25261484   119492  家居园艺
9      25261484   119492  家居园艺
10     25261484   119492  家居园艺
11     25261484   119492  家居园艺
12     25261484   119492  家居园艺
Empty DataFrame
Columns: [line, order_listing_num, order_sku_num, sale_rmb, order_day_mark, line_2, listing_num, sku_num, line1]
Index: []
    line  order_listing_num  order_sku_num    sale_rmb order_day_mark line_2  \
0   影视摄影               8147           2751  1919887.51          30~60   影视摄影
1   影视摄影                657            351   165043.18           360+   影视摄影
2   影视摄影               1101            575   304987.97        270~300   影视摄影
3   影视摄影               5639           1986  1470470.98         90~120   影视摄影
4   影视摄影               2363           1058   698107.48        180~210   影视摄影
5   影视摄影               1608            792   426305.56        210~240   影视摄影
6   影视摄影               3120           1329   836753.89        150~180   影视摄影
7   影视摄影               6738           2310  1697278.74          60~90   影视摄影
8   影视摄影                729            418   233171.66        330~360   影视摄影
9   影视摄影               4655           1678  1306986.20        120~150   影视摄影
10  影视摄影               1292            660   329457.12        240~270   影视摄影
11  影视摄影                942            498   298076.74        300~330   影视摄影
12  影视摄影               6250           2433  1332161.34            <30   影视摄影

    listing_num  sku_num line1
0       2886982    13874  影视摄影
1       2886982    13874  影视摄影
2       2886982    13874  影视摄影
3       2886982    13874  影视摄影
4       2886982    13874  影视摄影
5       2886982    13874  影视摄影
6       2886982    13874  影视摄影
7       2886982    13874  影视摄影
8       2886982    13874  影视摄影
9       2886982    13874  影视摄影
10      2886982    13874  影视摄影
11      2886982    13874  影视摄影
12      2886982    13874  影视摄影
    line  order_listing_num  order_sku_num   sale_rmb order_day_mark line_2  \
0   乐器用品               2313           1160  341393.67         90~120   乐器用品
1   乐器用品               2475           1101  495560.73        120~150   乐器用品
2   乐器用品               1051            572  182143.81        240~270   乐器用品
3   乐器用品               2444           1232  379784.01          60~90   乐器用品
4   乐器用品                767            333   94705.19        330~360   乐器用品
5   乐器用品                801            443  139494.53        300~330   乐器用品
6   乐器用品               2968           1456  453360.36            <30   乐器用品
7   乐器用品                890            435  124245.37           360+   乐器用品
8   乐器用品               3076           1468  511209.59          30~60   乐器用品
9   乐器用品               1634            883  248484.54        180~210   乐器用品
10  乐器用品               1239            701  206761.02        210~240   乐器用品
11  乐器用品               1705            932  273241.24        150~180   乐器用品
12  乐器用品               1006            503  158292.31        270~300   乐器用品

    listing_num  sku_num line1
0       1925239     9381  乐器用品
1       1925239     9381  乐器用品
2       1925239     9381  乐器用品
3       1925239     9381  乐器用品
4       1925239     9381  乐器用品
5       1925239     9381  乐器用品
6       1925239     9381  乐器用品
7       1925239     9381  乐器用品
8       1925239     9381  乐器用品
9       1925239     9381  乐器用品
10      1925239     9381  乐器用品
11      1925239     9381  乐器用品
12      1925239     9381  乐器用品
    line  order_listing_num  order_sku_num    sale_rmb order_day_mark line_2  \
0   工业用品              23592          10513  5359830.53         90~120   工业用品
1   工业用品              35528          14496  8325704.73          30~60   工业用品
2   工业用品               6609           3609  1353962.37           360+   工业用品
3   工业用品              33698          14008  7722461.74            <30   工业用品
4   工业用品               6315           3623  1334197.92        300~330   工业用品
5   工业用品              27793          11919  6295540.69          60~90   工业用品
6   工业用品               5380           3197  1199534.84        330~360   工业用品
7   工业用品              20684           9659  4671859.93        120~150   工业用品
8   工业用品               8727           4851  1942988.06        240~270   工业用品
9   工业用品              13987           7184  3191736.25        180~210   工业用品
10  工业用品              10920           5868  2463112.53        210~240   工业用品
11  工业用品              16701           8313  3727696.93        150~180   工业用品
12  工业用品               7127           4162  1660303.48        270~300   工业用品

    listing_num  sku_num line1
0      19350200    92065  工业用品
1      19350200    92065  工业用品
2      19350200    92065  工业用品
3      19350200    92065  工业用品
4      19350200    92065  工业用品
5      19350200    92065  工业用品
6      19350200    92065  工业用品
7      19350200    92065  工业用品
8      19350200    92065  工业用品
9      19350200    92065  工业用品
10     19350200    92065  工业用品
11     19350200    92065  工业用品
12     19350200    92065  工业用品
    line  order_listing_num  order_sku_num    sale_rmb order_day_mark line_2  \
0   户外用品              24953          11287  4138038.53            <30   户外用品
1   户外用品               4001           2396   656642.75        300~330   户外用品
2   户外用品              29520          12230  4947579.47          30~60   户外用品
3   户外用品               3145           1825   475376.27           360+   户外用品
4   户外用品              13817           6965  2264548.46        150~180   户外用品
5   户外用品              11143           5843  1817644.98        180~210   户外用品
6   户外用品               8544           4734  1430710.97        210~240   户外用品
7   户外用品              19745           8947  3305125.45         90~120   户外用品
8   户外用品               5957           3460   946792.28        240~270   户外用品
9   户外用品              17142           8037  2782180.86        120~150   户外用品
10  户外用品               4925           2956   759269.27        270~300   户外用品
11  户外用品              23690          10003  3916583.13          60~90   户外用品
12  户外用品               2984           1833   450624.97        330~360   户外用品

    listing_num  sku_num line1
0      15858265    83834  户外用品
1      15858265    83834  户外用品
2      15858265    83834  户外用品
3      15858265    83834  户外用品
4      15858265    83834  户外用品
5      15858265    83834  户外用品
6      15858265    83834  户外用品
7      15858265    83834  户外用品
8      15858265    83834  户外用品
9      15858265    83834  户外用品
10     15858265    83834  户外用品
11     15858265    83834  户外用品
12     15858265    83834  户外用品
    line  order_listing_num  order_sku_num   sale_rmb order_day_mark line_2  \
0   宠物用品               2221           1008  288005.60        270~300   宠物用品
1   宠物用品               4217           1959  593854.30        150~180   宠物用品
2   宠物用品               6040           2871  771636.18            <30   宠物用品
3   宠物用品               1811            887  224660.04        300~330   宠物用品
4   宠物用品               3206           1459  430443.07        210~240   宠物用品
5   宠物用品               3507           1663  468081.46        180~210   宠物用品
6   宠物用品               2690           1194  358766.15        240~270   宠物用品
7   宠物用品               4738           2138  646690.22        120~150   宠物用品
8   宠物用品               7322           3080  977330.38          30~60   宠物用品
9   宠物用品               1734            839  184285.74           360+   宠物用品
10  宠物用品               1396            744  172379.14        330~360   宠物用品
11  宠物用品               5854           2435  821882.83          60~90   宠物用品
12  宠物用品               5251           2224  722684.59         90~120   宠物用品

    listing_num  sku_num line1
0       4480710    25519  宠物用品
1       4480710    25519  宠物用品
2       4480710    25519  宠物用品
3       4480710    25519  宠物用品
4       4480710    25519  宠物用品
5       4480710    25519  宠物用品
6       4480710    25519  宠物用品
7       4480710    25519  宠物用品
8       4480710    25519  宠物用品
9       4480710    25519  宠物用品
10      4480710    25519  宠物用品
11      4480710    25519  宠物用品
12      4480710    25519  宠物用品
    line  order_listing_num  order_sku_num    sale_rmb order_day_mark line_2  \
0   服装服饰               3214           1877   827414.72        120~150   服装服饰
1   服装服饰               1440            902   400253.77        240~270   服装服饰
2   服装服饰               3214           1751   930422.08        150~180   服装服饰
3   服装服饰               1315            687   390199.51        270~300   服装服饰
4   服装服饰               1987           1160   541712.77        210~240   服装服饰
5   服装服饰               2953           1597   800528.13        180~210   服装服饰
6   服装服饰               3764           1827  1019782.36         90~120   服装服饰
7   服装服饰               3474           1880   894522.29          60~90   服装服饰
8   服装服饰                697            463   186389.63        330~360   服装服饰
9   服装服饰               1676           1081   406739.63            <30   服装服饰
10  服装服饰                909            547   262601.28        300~330   服装服饰
11  服装服饰               3147           1965   869467.77          30~60   服装服饰
12  服装服饰                960            572   308046.51           360+   服装服饰

    listing_num  sku_num line1
0      20472329   144377  服装服饰
1      20472329   144377  服装服饰
2      20472329   144377  服装服饰
3      20472329   144377  服装服饰
4      20472329   144377  服装服饰
5      20472329   144377  服装服饰
6      20472329   144377  服装服饰
7      20472329   144377  服装服饰
8      20472329   144377  服装服饰
9      20472329   144377  服装服饰
10     20472329   144377  服装服饰
11     20472329   144377  服装服饰
12     20472329   144377  服装服饰
    line  order_listing_num  order_sku_num   sale_rmb order_day_mark line_2  \
0   智能安防               1628            798  446792.07         90~120   智能安防
1   智能安防                615            341  173678.97        240~270   智能安防
2   智能安防               1618            777  475885.98        120~150   智能安防
3   智能安防               1365            688  422977.58        150~180   智能安防
4   智能安防               2912           1139  814785.63            <30   智能安防
5   智能安防                638            297  163328.94        300~330   智能安防
6   智能安防                614            329  184342.37        270~300   智能安防
7   智能安防                916            497  278934.12        210~240   智能安防
8   智能安防               1280            635  400553.32        180~210   智能安防
9   智能安防               1943            888  557968.52          60~90   智能安防
10  智能安防                565            240  186410.09        330~360   智能安防
11  智能安防               2430           1161  764166.61          30~60   智能安防
12  智能安防                520            230  207744.20           360+   智能安防

    listing_num  sku_num line1
0       1287023     9511  智能安防
1       1287023     9511  智能安防
2       1287023     9511  智能安防
3       1287023     9511  智能安防
4       1287023     9511  智能安防
5       1287023     9511  智能安防
6       1287023     9511  智能安防
7       1287023     9511  智能安防
8       1287023     9511  智能安防
9       1287023     9511  智能安防
10      1287023     9511  智能安防
11      1287023     9511  智能安防
12      1287023     9511  智能安防
Empty DataFrame
Columns: [line, order_listing_num, order_sku_num, sale_rmb, order_day_mark, line_2, listing_num, sku_num, line1]
Index: []
    line  order_listing_num  order_sku_num    sale_rmb order_day_mark line_2  \
0   工艺收藏               9981           4101  1448538.54         90~120   工艺收藏
1   工艺收藏               3278           1845   444218.57        270~300   工艺收藏
2   工艺收藏               6496           3147   939305.39        180~210   工艺收藏
3   工艺收藏               4870           2491   706016.87        210~240   工艺收藏
4   工艺收藏               8089           3601  1178667.04        150~180   工艺收藏
5   工艺收藏              13177           5701  1731844.85            <30   工艺收藏
6   工艺收藏               2628           1551   357684.48        300~330   工艺收藏
7   工艺收藏              12204           4727  1739651.93          60~90   工艺收藏
8   工艺收藏               1997           1223   242365.15        330~360   工艺收藏
9   工艺收藏               9373           3884  1297585.57        120~150   工艺收藏
10  工艺收藏               3873           2056   555292.64        240~270   工艺收藏
11  工艺收藏              14895           5980  2076969.35          30~60   工艺收藏
12  工艺收藏               2275           1331   288031.48           360+   工艺收藏

    listing_num  sku_num line1
0       8379259    39073  工艺收藏
1       8379259    39073  工艺收藏
2       8379259    39073  工艺收藏
3       8379259    39073  工艺收藏
4       8379259    39073  工艺收藏
5       8379259    39073  工艺收藏
6       8379259    39073  工艺收藏
7       8379259    39073  工艺收藏
8       8379259    39073  工艺收藏
9       8379259    39073  工艺收藏
10      8379259    39073  工艺收藏
11      8379259    39073  工艺收藏
12      8379259    39073  工艺收藏
    line  order_listing_num  order_sku_num     sale_rmb order_day_mark line_2  \
0   汽摩用品              40649          15872   9405253.70            <30   汽摩用品
1   汽摩用品               7539           4467   1631787.90        300~330   汽摩用品
2   汽摩用品              33767          13899   7889835.55         90~120   汽摩用品
3   汽摩用品              48538          17700  11871982.45          30~60   汽摩用品
4   汽摩用品               5072           2900   1063214.45           360+   汽摩用品
5   汽摩用品              10275           5809   2175228.04        270~300   汽摩用品
6   汽摩用品              23433          10992   5221672.18        150~180   汽摩用品
7   汽摩用品              14306           7532   3418996.55        210~240   汽摩用品
8   汽摩用品              19136           9415   4136384.36        180~210   汽摩用品
9   汽摩用品              28157          12452   6498064.35        120~150   汽摩用品
10  汽摩用品              12244           6639   2565709.19        240~270   汽摩用品
11  汽摩用品              38101          14915   9260062.50          60~90   汽摩用品
12  汽摩用品               5125           3190   1074424.27        330~360   汽摩用品

    listing_num  sku_num line1
0      15032055    74712  汽摩用品
1      15032055    74712  汽摩用品
2      15032055    74712  汽摩用品
3      15032055    74712  汽摩用品
4      15032055    74712  汽摩用品
5      15032055    74712  汽摩用品
6      15032055    74712  汽摩用品
7      15032055    74712  汽摩用品
8      15032055    74712  汽摩用品
9      15032055    74712  汽摩用品
10     15032055    74712  汽摩用品
11     15032055    74712  汽摩用品
12     15032055    74712  汽摩用品
    line  order_listing_num  order_sku_num    sale_rmb order_day_mark line_2  \
0   电子用品              30996           9334  8495440.34          60~90   电子用品
1   电子用品               5615           2163  1867755.13        330~360   电子用品
2   电子用品              26689           8211  7522945.39         90~120   电子用品
3   电子用品              14701           4962  4390529.12        180~210   电子用品
4   电子用品              11624           3877  3589036.86        210~240   电子用品
5   电子用品              37438          11282  9607128.48          30~60   电子用品
6   电子用品               5797           2010  1928190.01           360+   电子用品
7   电子用品               8244           2864  2605652.06        270~300   电子用品
8   电子用品              18279           5946  5384095.71        150~180   电子用品
9   电子用品              29791          10238  7085490.04            <30   电子用品
10  电子用品               6742           2487  2274927.48        300~330   电子用品
11  电子用品              22714           7225  6453995.70        120~150   电子用品
12  电子用品               9780           3273  3018142.24        240~270   电子用品

    listing_num  sku_num line1
0      13573363    65971  电子用品
1      13573363    65971  电子用品
2      13573363    65971  电子用品
3      13573363    65971  电子用品
4      13573363    65971  电子用品
5      13573363    65971  电子用品
6      13573363    65971  电子用品
7      13573363    65971  电子用品
8      13573363    65971  电子用品
9      13573363    65971  电子用品
10     13573363    65971  电子用品
11     13573363    65971  电子用品
12     13573363    65971  电子用品
    line  order_listing_num  order_sku_num    sale_rmb order_day_mark line_2  \
0   母婴用品              17247           4214  2285463.41          60~90   母婴用品
1   母婴用品               3357           1336   396355.71        330~360   母婴用品
2   母婴用品              15094           4609  1946914.10            <30   母婴用品
3   母婴用品               4235           1573   508272.53        300~330   母婴用品
4   母婴用品              19308           5148  2566674.56          30~60   母婴用品
5   母婴用品               3155           1209   332805.51           360+   母婴用品
6   母婴用品               4454           1717   542364.13        270~300   母婴用品
7   母婴用品              13879           3031  1545132.62        150~180   母婴用品
8   母婴用品               8830           2696  1182768.61        180~210   母婴用品
9   母婴用品               6623           2308   837563.19        210~240   母婴用品
10  母婴用品               4934           1882   639712.94        240~270   母婴用品
11  母婴用品              13031           3527  1709102.46        120~150   母婴用品
12  母婴用品              14963           3838  2037233.22         90~120   母婴用品

    listing_num  sku_num line1
0       4417420    27804  母婴用品
1       4417420    27804  母婴用品
2       4417420    27804  母婴用品
3       4417420    27804  母婴用品
4       4417420    27804  母婴用品
5       4417420    27804  母婴用品
6       4417420    27804  母婴用品
7       4417420    27804  母婴用品
8       4417420    27804  母婴用品

In [ ]:
# 创建表
sql_create = f"""
create table order_his (
order_id varchar,
account_id int,
seller_sku varchar,
sku varchar,
payment_time datetime,
paymonth varchar,
currency varchar,
total_price double
)
"""
# l.execute(sql_create)
# print("create successful")
# l.execute("ALTER TABLE order_his ALTER total_price TYPE DOUBLE")

In [ ]:
# l.execute("drop table order_his")
# l.sql('select count(1) from order_his')
# l.execute("truncate order_his")

In [ ]:
# c.sql("truncate listing_his")
# c.sql("from listing_his")

In [ ]:
print("关闭数据库")
c.close()

关闭数据库